/* Image profile for mobile */
@media only screen and (max-width: 992px) {
    #img-profile{
        display:block;
        margin:10px auto;
        width:280px;
        height:280px;
    }
}

@media only screen and (min-width: 992px) {
    #img-profile{
        float: right;
        width:280px;
        height:280px;
    }
}

/* Image papers for mobile */
@media only screen and (max-width: 992px) {
    #img-paper{
        float:left;
        margin:10px;
        width:150px;
        height:150px;
    }
}

@media only screen and (min-width: 992px) {
    #img-paper{
        float: left;
        margin:10px;
        width:150px;
        height:150px;
    }
}



.publication {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    gap: 20px;
}
.publication img {
    width: 150px;
    height: auto;
}
.publication-text {
    max-width: 500px;
}
@media (max-width: 600px) {
    .publication {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .publication img {
        width: 100%;
        height: auto;
    }
    .publication-text {
        max-width: 100%;
        margin-top: 10px;
    }
}