* {
  box-sizing: boder-box;
}

body {
  margin: 0;
}

#main {
  position: relative;
  z-index: 20;
  background: #fff;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}
@media (min-width: 640px) {
  #main {
    padding: 1em;
  }
}

.fake-section {
  background: #eee;
  height: 300px;
}

.tiles-a {
  width: 60vw;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px !important;
  margin: auto;
}
.tiles-a ul {
  margin: 0;
  padding: 0;
}
.tiles-a li {
  list-style: none;
}
@media (min-width: 640px) {
  .tiles-a li {
    float: left;
    width: 33.33%;
  }
}
.tiles-a a {
  margin: 0em;
  display: block;
  background: #222;
  padding-top: 73%;
  height: 0;
}



.show-detail {
  overflow: hidden;
}
.show-detail #main {
  -webkit-transform: translateX(-0%);
          transform: translateX(-0%);
}


.photobox{
  #display: inline-block;
}

.photobox__previewbox{
  position: relative;
  overflow: hidden;
}

.photobox__preview{
  display: block;
  max-width: 100%;
}

.photobox__previewbox:before{
  content: "";
}

.photobox_type16 .photobox__previewbox:before{
  width: 100%;
  height: 100%;
  
  background-color: var(--photoboxOverlay, rgba(5, 9, 73, .8));
  opacity: 0;
  transition: opacity var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.photobox_type16:hover .photobox__previewbox:before{
  opacity: 1;
}

.photobox_type16 .photobox__label{
  width: 98%;
  text-align: center;
  
  opacity: 0;  
  transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.photobox_type16:hover .photobox__label{
  opacity: 1;
  transition-duration: var(--photoboxAnimationDuration, .4s);
  transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);
}

.photobox_type16 .photobox__preview{
	transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
	transform: scale(1) translate(0, 0);
}

.photobox_type16:hover .photobox__preview{
  transform: scale(1.2) translate(4%, 4%);
}

.text_label {
    font-family: Raleway;
    color: white;
    font-size: 18px;
}
