<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav" style="height: 9vh;">
    <div class="container" style="padding-right: 0px; padding-left: 0px; background-color: white;">
        <img class="logo" src="{{ '/img/logo3.PNG' | relative_url }}" style="height: auto">
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <div>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: black !important" href="{{ '/index.html' | relative_url }}">Research</a>
                    </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <div>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: black !important" href="{{ '/index.html#blog-section' | relative_url }}">Blog</a>
                    </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <div>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: black !important" href="{{ '/index.html#portfolio' | relative_url }}">My Projects</a>
                    </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <div>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: black !important" href="{{ '/index.html#about_desktop_mobile' | relative_url }}">About me</a>
                    </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <div>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color: black !important" href="{{ '/index.html#contact' | relative_url }}">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
